
<div class="formContainer">

  <form class="" action="index.html" method="post">
    <p>enter words below</p>
    <input type="text" placeholder="City" ng-model="entry.word0">
    <input type="text" placeholder="Noun" ng-model="entry.word1">
    <input type="text" placeholder="Verb ending in -ing" ng-model="entry.word2">
    <input type="text" placeholder="Celeberity" ng-model="entry.word3">
    <input type="text" placeholder="Noun" ng-model="entry.word4">
    <input type="text" placeholder="Emotion" ng-model="entry.word5">
    <input type="text" placeholder="Verb" ng-model="entry.word6">
    <input type="text" placeholder="Noun" ng-model="entry.word7">
    <input type="text" placeholder="Noun" ng-model="entry.word8">
    <input type="text" placeholder="Verb" ng-model="entry.word9">
    <input type="text" placeholder="Noun" ng-model="entry.word10">

    <a href="#!/madlib" ng-click="entryCvrt(entry)"><div class="button">Add my Libs</div></a>
  </form>

</div>
